{% extends "layout/base.html" %}

{% block title %}Snakeeyes - Homepage{% endblock %}
{% block meta_desc %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}
    <div class="row text-center">
        <h2>This is our home page</h2>
        <h3 class="text-muted">
            Test your luck against the roll of the dice and win today
        </h3>
    </div>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>I have no idea how to do this.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous (me)
        </figcaption>
    </figure>
{% endblock %}